@charset "utf-8";
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/** reset end **/

.wrap {
	font-family: '나눔 고딕', NanumGothic, '돋움', Dotum, sans-serif;
	padding: 10px 50px;
}

header {
	min-width: 980px;
	margin-top: 20px;
}

footer {
	min-width: 980px;
	height: 100px;
	margin-top: 20px;
	padding-top: 20px;
	border-top: solid 1px #e4e4e4;
	color: #a5a5a5;
	font-size: 12px;
	text-align: center;
}

header ul {
	display: flex;
}

header li {
	flex: 1;
	border: solid 1px #a5a5a5;
	text-align: center;
	padding: 10px 0;
}

header li:nth-child(2n){
	margin: 0 4px;
}

.container {
	width: 980px;
}

.container .main_title {
    border-bottom: 1px solid;
    padding-bottom: 8px;
}

.content .main_title{
	border-bottom: 1px solid #e4e4e4;
	padding: 0 0 10px 10px;
	background-color: #fbfbfb;
}

.content .subtitle {
	margin-bottom: 10px;
}

.content {
	margin-top: 20px;
	border: 1px solid #e4e4e4;
}
.content_body {
	margin: 20px;
}

.table {
	width: 100%;
	margin: 0 0 10px;
	font-size: 12px;
	color: #555;
	text-align: center;
}

.table_caption {
	margin-bottom: 10px;
	font-size: 14px;
	font-weight: bold;
	color: #000;
	text-align: left;
}

.normal .table_header {
	background-color: #fbfbfb;
}

.normal th, .normal td {
	border: 1px solid #e4e4e4;
	padding: 10px;
}

.line .table_header {
	background-color: #fbfbfb;
	border-top: 2px solid #a5a5a5;
	border-bottom: 1px solid #e4e4e4;
}

.line th, .line td {
	padding: 10px;
	text-align: right;
}

.line td:first-child, .line th:first-child{
	text-align: center;
}

.line .table_footer {
	font-weight: bold;
	border-top: 1px solid #a5a5a5;
	border-bottom: 1px solid #e4e4e4;
}

/* 회원가입 */
.join_wrap .join_form {
	font-size: 12px;
	vertical-align: middle;
	margin-top: 10px;
	width: 100%;
}
.join_form .button {
	border: 1px solid #08a600;
	background-color: #4ec53d;
	color: #fff;
}
.join_form label{
	vertical-align: text-top;
}

.join_form form {
	padding: 10px 20px;
	border: 1px solid #e4e4e4;
	background-color: #fbfbfb;
}

.join_form input[type], .join_form select, .join_form textarea{
	border: 1px solid #e4e4e4;
}

.join_form .title{
	font-size: 14px;
	font-weight: bold;
}

.join_form .title {
	display: block;
	margin-top: 10px;
	font-size: 14px;
	font-weight: bold;
}

.join_form .input {
	margin-top: 8px;
	width: 100%;
	font-size: 12px;
	line-height: 20px;
	height: 28px;
}

.join_form .input_wrap {
	margin-top: 8px;
	width: 100%;
	height: 28px;
}


.input_wrap.birthday .select_wrap{
	display: inline-block;
	width: 33.33%;
	height: 100%;
    box-sizing: border-box;
}

.input_wrap.birthday select {
	width: 100%;
	height: 100%;
}

.input_wrap.gender li {
	display: inline-block;
	width: 50%;
	height: 12px;
}

.input_wrap #mobile-number {
	box-sizing: border-box;
	height: 100%;
	font-size: 12px;
}

.input_wrap.mobile {
	position: relative;
}

.input_wrap.mobile .mobile_number_wrap{
	padding-right: 210px;
	height: 100%;
}
.input_wrap.mobile #mobile-number{
	font-size: 12px;
	width: 100%;
}
.input_wrap.mobile .confirm_button{
	position: absolute;
	top: 0;
	right: 0;
	box-sizing: border-box;
	width: 200px;
	height: 100%;
}

.input_wrap.hobby li{
	display: inline-block;
	width: 12.5%;
}

.join_form .info {
	margin-top: 8px;
	width: 100%;
	height: 150px;
}

.join_form #join{
	font-size: 16px;
	width: 100%;
	margin-top: 20px;
	height: 30px;
}

.dic_wrap .result_wrap{
	margin-top: 4px;
	border: 1px solid #e4e4e4;
	padding: 30px 20px;
}

.dic_wrap .header {
	font-size: 32px;
	font-weight: bold;
	text-align: center;
}

.dic_wrap .body dt {
	margin-top: 20px;
	font-size: 14px;
	line-height: 18px;
	font-weight: bold;
}

.dic_wrap .body dd {
	font-size: 12px;
	line-height: 16px;
}

.dic_wrap .body dt em {
	font-size: 12px;
	color: #559bfa;
	font-weight: normal;
}

.rank_wrap .list {
	padding: 10px 20px;
	border: 1px solid #e4e4e4;
}
.rank_wrap .item {
	margin: 10px 0;
}

.rank_wrap .num {
	display: inline-block;
	width: 17px;
	height: 17px;
	line-height: 17px;
	border: 1px solid #e0e0e0;
	font-size: 10px;
	box-sizing: border-box;
	vertical-align: middle;
	text-align: center;
}
.rank_wrap .text {
	margin-left: 2px;
	text-decoration: none;
	color: #000;
	font-size: 12px;
}

.rank_wrap .text:hover {
	text-decoration: underline;
}

.info_list {
	padding: 10px 30px;
	border: 1px solid #e4e4e4;
	list-style: disc;
	font-size: 12px;
	line-height: 20px;
}

.info_list em, .info_list a {
	color: #559bfa;
}

.info_list strong {
	color: #ec5336;
}

.news_list {
	border: 1px solid #e4e4e4;
	padding: 0 20px;
}

.news_list .news_item{
	padding: 16px 0;
}

.news_list .news_item:not(:first-child){
	border-top: 1px solid #e4e4e4;
}

.news_list .news_item:after {
	display: block;
	content:'';
	clear: both;
}

.news_list .news_image{
	float: left;
	margin-right: 10px;
}

.news_list .news_content a {
	font-size: 14px;
	line-height: 16px;
	color: #0000cc;
	font-weight: bold;
}

.news_list .news_content p {
	margin-top: 3px;
	font-size: 12px;
	line-height: 16px;
}
.webtoon_list {
	max-width: 915px;
	border: 1px solid #e4e4e4;
	padding: 20px 1px 10px 20px;
}

.webtoon_list:after {
    content: '';
    display: block;
    clear: both;
}

.webtoon_list .webtoon_item {
	float: left;
	margin: 0 20px 10px 0;
}

.webtoon_item .webtoon_title{
	color: #000;
	font-size: 14px;
	font-weight: bold;
	line-height: 18px;
	text-decoration: none;
}

.webtoon_item .webtoon_title:hover{
	text-decoration: underline;
}

.webtoon_item .webtoon_content{
	font-size: 12px;
	line-height: 16px;
}

.green_label {
	display: inline-block;
	border: 1px solid #71b036;
	background-color: #80c83d;
	font-size: 10px;
	line-height: 10px;
	color: #fff;
	padding: 2px 5px 1px;
	margin-right: 3px;
	vertical-align: text-top;
}

.red_label {
	display: inline-block;
	border: 1px solid #df4e28;
	background-color: #ec5336;
	font-size: 10px;
	line-height: 10px;
	color: #fff;
	padding: 2px 5px 1px;
	margin-right: 3px;
	vertical-align: text-top;
}